
@media screen and (min-width:800px){
.itsme{
  width:50%;
}
}
.itsme {
  height: 30vw;
  min-height: 20em;
  margin:2em auto;
  perspective: 1000px;
  /* width:100%; */
  min-width: 50%;
  border: 2px black;
  /* background:   url(../images/redback.jpg);; */
  background: rgb(14, 0, 54);
  box-shadow: -3px 5px 10px rgb(2, 50, 79);
}
.itsme .D3__effect {
  display: block;
  width:100%;
  height: 100%;
  background:
  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url(../images/mewithcamera.jpg);
  background-size: 0, cover;
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.itsme:hover .D3__effect {
  transform: rotateX(80deg);
  transform-origin: bottom;
}
.itsme .D3__effect:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  background: inherit;
  background-size: cover, cover;
  background-position: bottom;
  transform: rotateX(90deg);
  transform-origin: bottom;
}
.itsme .D3__effect .descr-of-me {
  padding-top: 20px;
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: bottom;
  font-size: 2em;
  transform: rotateX(-89.99deg);
  transform-origin: top;
  z-index: 1;
}
