
#Definition{
  font-size: 24px;
  /*text-align: center;*/
}
#Definition dt{
    color:navy;
}
#Definition dd{
  color: purple;
}
#Definition h2{
  color: black;
}
#Definition img{
  float: left;
}

.lines-elements{
  justify-content: center;
  align-items: center;
  display: inline-block;
  opacity:1;
  transition: 0.1s easy-in;
  /* margin: auto; */
  /* padding: auto; */
}
.defen{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 200px;
  height: 100px;
  /* padding: 5px; */
  margin: 1em;
  cursor: pointer;
  background: rgb(43, 207, 79);
  outline: none;
  transition: 1s ease-in-out;
  opacity:1;
}
.lines-elements:hover .defen:not(:hover){
  /* background: transparent; */
	box-shadow: 0px 0px 0px 15em rgba(0, 0, 0, 0.5) inset;
  /* opacity:50%; */
}
.defen:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
  opacity:1;
}

.defen:hover .border1{
  stroke-dashoffset: -650;
}
.defen:hover .border2{
  stroke-dashoffset: +850;
}
#border1-col{
  stroke: #00ff29;
}
#border2-col{
  stroke: #9eff00;
}
#border3-col{
  stroke: #ff0800;
}
#border4-col{
  stroke: #a600ff;
}


svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #00ffff;
  stroke-dasharray: 100 650;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
  stroke-width: 3px;
}
